In [1]:
from sqlalchemy import create_engine 
import pandas as pd

In [2]:
mysql_engine = create_engine('mysql://root:Mako1234@localhost:3306/kosherdb')

In [20]:
# Read in the tables we need 

tickets = pd.read_sql_table('tbltickets', mysql_engine)
ticketreplies = pd.read_sql_table('tblticketreplies', mysql_engine)

In [9]:
len(tickets.tid.unique())

227474

In [7]:
len(ticketreplies.tid.unique())

175312

In [10]:
ticketreplies.tid.unique()

array([     2,      3,      4, ..., 230222, 230223, 230224], dtype=int64)

In [53]:
# Cast to string, remove whitespace?
ticketreplies['tid'] = ticketreplies['tid'].astype('str')
ticketreplies = ticketreplies.applymap(lambda x: x.strip() if isinstance(x, str) else x)

tickets['id'] = tickets['id'].astype('str')
tickets = tickets.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [34]:
ticketreplies.tid.unique()

array(['2', '3', '4', ..., '230222', '230223', '230224'], dtype=object)

In [39]:
tickets[tickets['tid'] ==  '230224']

Empty DataFrame
Columns: [id, tid, did, userid, contactid, requestor_id, name, email, cc, c, ipaddress, date, title, message, status, urgency, admin, attachment, attachments_removed, lastreply, flag, clientunread, adminunread, replyingadmin, replyingtime, service, merged_ticket_id, editor, updated_at]
Index: []

[0 rows x 29 columns]

In [50]:

ticketreplies['tid'].unique()

array(['2', '3', '4', ..., '230222', '230223', '230224'], dtype=object)

In [48]:
tickets['tid'].max() 
tickets['tid'].min()

'038744'

In [64]:
pd.options.display.max_columns = 30

In [66]:
# 

tickets[tickets['id'] == '230224']

,id,tid,did,userid,contactid,requestor_id,name,email,cc,c,ipaddress,date,title,message,status,urgency,admin,attachment,attachments_removed,lastreply,flag,clientunread,adminunread,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at
227472,230224,342239,1,93235,0,93337,,,,jx4IEz1P,172.70.218.114,2022-09-20 09:21:19,WHM panel not opening,WHM panel not opening,Answered,High,,,0,2022-09-20 09:50:40,0,1,19,0,NaT,,0,markdown,2022-09-20 05:21:19

In [61]:

ticketreplies[ticketreplies['tid'] == '230224']

,id,tid,userid,contactid,requestor_id,name,email,date,message,admin,attachment,attachments_removed,rating,editor
650119,650897,230224,0,0,0,,,2022-09-20 09:29:15,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.,,0,0,markdown
650123,650901,230224,93235,0,93337,,,2022-09-20 09:44:20,I don&#039;t find Addon Domain option,,,0,0,markdown
650124,650902,230224,93235,0,93337,,,2022-09-20 09:44:54,Please share snapshot,,,0,0,markdown
650125,650903,230224,0,0,0,,,2022-09-20 09:50:40,"Hello,\r\n\r\nPlease see here: https://a.cl.ly...",George T.,,0,0,markdown

In [78]:
firstreplies = ticketreplies.groupby('tid').first()

In [86]:
len(firstreplies) / len(tickets)

0.7706902766909625

In [74]:
# Testing some stuff

set_tid = '10000'
ticketreplies[ticketreplies['tid'] == set_tid]

,id,tid,userid,contactid,requestor_id,name,email,date,message,admin,attachment,attachments_removed,rating,editor
30094,30116,10000,0,0,0,,,2013-09-03 17:07:16,"Hello,\r\n\r\nI'm not sure what you mean. Are ...",Nick Adams,,0,0,plain
32039,32063,10000,4947,0,0,,,2013-09-17 13:33:46,I need to transfer a domain from another vps t...,,,0,0,plain
32061,32085,10000,0,0,0,,,2013-09-17 18:34:45,"Well, there's no way to transfer a domain to a...",Nick Adams,,0,0,plain

In [75]:
tickets[tickets['id'] == set_tid]

,id,tid,did,userid,contactid,requestor_id,name,email,cc,c,ipaddress,date,title,message,status,urgency,admin,attachment,attachments_removed,lastreply,flag,clientunread,adminunread,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at
9827,10000,637603,1,4947,0,0,,,,kPS1mWqE,None,2013-09-03 16:33:47,Transfer a Domain,Need to transfer a domain for my server \r\nDi...,Closed,Medium,,,0,2013-09-17 18:34:45,0,1,1,0,NaT,,0,plain,NaT

In [83]:
first_replies_cleaned = firstreplies.rename(columns={'id':'replyid','date':'firstreplydate','message':'firstreplymsg','admin':'firstreplyadmin','rating':'firstreplyrating'})
first_response_df = first_replies_cleaned[['replyid','firstreplydate','firstreplymsg','firstreplyadmin']]

In [79]:
# Okay now i'm gonna join these two tables together

# This should be the same length as an outer join (about)
tickets.merge(firstreplies, how='left', left_on='id', right_on='tid')

,id_x,tid,did,userid_x,contactid_x,requestor_id_x,name_x,email_x,cc,c,ipaddress,date_x,title,message_x,status,...,editor_x,updated_at,id_y,userid_y,contactid_y,requestor_id_y,name_y,email_y,date_y,message_y,admin_y,attachment_y,attachments_removed_y,rating,editor_y
0,2,230889,1,14,0,0,,,,Mjrwm6se,None,2012-06-12 03:40:33,More than one node?,"Hi, \r\n\r\nDo you have more than one node run...",Closed,...,plain,NaT,1.0,0.0,0.0,0.0,,,2012-06-12 04:00:18,"Hello,\r\n\r\nAt the moment we only have one O...",Nick Adams,,0.0,0.0,plain
1,3,924025,1,6,0,0,,,,ojBD5yOo,None,2012-06-13 01:56:44,Reverse DNS - Enable Please.,Could I get reverse DNS enabled on my VPS plea...,Closed,...,plain,NaT,4.0,0.0,0.0,0.0,,,2012-06-13 02:35:10,"Hi Ryan,\r\n\r\nI'll have to do that on our en...",Nick Adams,,0.0,0.0,plain
2,4,976293,1,13,0,0,,,,9wVrFgYs,None,2012-06-13 03:10:03,Spam Abuse,This blacklist report has been received for 23...,Closed,...,plain,NaT,7.0,13.0,0.0,0.0,,,2012-06-13 03:30:14,This issue has been resolved.. Sorry about thi...,,,0.0,0.0,plain
3,5,234515,1,16,0,0,,,,ggLR4fX0,None,2012-06-13 04:34:41,rDNS setup request,"Hello,\r\n\r\nCould you please set up a rDNS r...",Closed,...,plain,NaT,12.0,0.0,0.0,0.0,,,2012-06-13 06:28:31,I will do this for you shortly and update you ...,Nick Adams,,0.0,0.0,plain
4,6,205616,1,17,0,0,,,,8nZKDo1i,None,2012-06-13 10:42:55,cat: /dev/net/tun: No such device,"Hi Support,\r\n\r\nI installed OpenVPN and ena...",Closed,...,plain,NaT,18.0,0.0,0.0,0.0,,,2012-06-13 11:32:05,"Handled over live chat.\r\n\r\nRegards,\r\n\r\...",Nick Adams,,0.0,0.0,plain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227469,230222,711561,1,94876,0,94698,,,,DXj5Fo18,172.70.206.104,2022-09-20 08:43:26,"Hello, my server cannot be pinged and cannot l...","Hello, my server cannot be pinged and cannot l...",Answered,...,markdown,2022-09-20 04:43:26,650895.0,0.0,0.0,0.0,,,2022-09-20 08:58:32,"Hello,\r\n\r\nThis has been fixed now.\r\n\r\n...",George T.,,0.0,0.0,markdown
227470,230223,489667,2,17294,0,13832,,,,UPhCJO31,162.158.107.41,2022-09-20 09:16:16,password change doesn&#039;t work,Hello.\r\n\r\nIt seems that the &quot;password...,Answered,...,markdown,2022-09-20 05:16:16,650896.0,0.0,0.0,0.0,,,2022-09-20 09:27:56,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.,,0.0,0.0,markdown
227471,230225,653121,1,590,0,614,,,,Cg5YOGHZ,172.70.250.182,2022-09-20 09:42:17,test,test with attachments.,Closed,...,markdown,2022-09-20 05:42:17,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
227472,230224,342239,1,93235,0,93337,,,,jx4IEz1P,172.70.218.114,2022-09-20 09:21:19,WHM panel not opening,WHM panel not opening,Answered,...,markdown,2022-09-20 05:21:19,650897.0,0.0,0.0,0.0,,,2022-09-20 09:29:15,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.,,0.0,0.0,markdown
227473,230226,794640,3,0,0,0,Claire Ward,claire.jane.ward@gmail.com,,z0WEPNCW,None,2022-09-20 09:50:09,Re: Guys - can we collaborate?,"Hi again,\r\n\r\nHow are you?\r\n\r\nJust want...",Closed,...,plain,2022-09-20 05:50:09,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

,id,tid,did,userid,contactid,requestor_id,name,email,cc,c,ipaddress,date,title,message,status,...,attachments_removed,lastreply,flag,clientunread,adminunread,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at,replyid,firstreplydate,firstreplymsg,firstreplyadmin
0,2,230889,1,14,0,0,,,,Mjrwm6se,None,2012-06-12 03:40:33,More than one node?,"Hi, \r\n\r\nDo you have more than one node run...",Closed,...,0,2012-06-12 07:17:36,0,0,",1,2,8,27",0,NaT,,0,plain,NaT,1.0,2012-06-12 04:00:18,"Hello,\r\n\r\nAt the moment we only have one O...",Nick Adams
1,3,924025,1,6,0,0,,,,ojBD5yOo,None,2012-06-13 01:56:44,Reverse DNS - Enable Please.,Could I get reverse DNS enabled on my VPS plea...,Closed,...,0,2012-06-13 03:15:33,0,0,",1,2",0,NaT,S8,0,plain,NaT,4.0,2012-06-13 02:35:10,"Hi Ryan,\r\n\r\nI'll have to do that on our en...",Nick Adams
2,4,976293,1,13,0,0,,,,9wVrFgYs,None,2012-06-13 03:10:03,Spam Abuse,This blacklist report has been received for 23...,Closed,...,0,2012-06-13 08:17:14,0,1,",1,2",0,NaT,,0,plain,NaT,7.0,2012-06-13 03:30:14,This issue has been resolved.. Sorry about thi...,
3,5,234515,1,16,0,0,,,,ggLR4fX0,None,2012-06-13 04:34:41,rDNS setup request,"Hello,\r\n\r\nCould you please set up a rDNS r...",Closed,...,0,2012-06-13 06:33:25,0,0,",1,2",0,NaT,S19,0,plain,NaT,12.0,2012-06-13 06:28:31,I will do this for you shortly and update you ...,Nick Adams
4,6,205616,1,17,0,0,,,,8nZKDo1i,None,2012-06-13 10:42:55,cat: /dev/net/tun: No such device,"Hi Support,\r\n\r\nI installed OpenVPN and ena...",Closed,...,0,2012-06-13 11:34:20,0,0,",1,2",0,2012-07-04 10:53:28,S20,0,plain,NaT,18.0,2012-06-13 11:32:05,"Handled over live chat.\r\n\r\nRegards,\r\n\r\...",Nick Adams
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227469,230222,711561,1,94876,0,94698,,,,DXj5Fo18,172.70.206.104,2022-09-20 08:43:26,"Hello, my server cannot be pinged and cannot l...","Hello, my server cannot be pinged and cannot l...",Answered,...,0,2022-09-20 08:58:32,0,1,19,0,NaT,S207550,0,markdown,2022-09-20 04:43:26,650895.0,2022-09-20 08:58:32,"Hello,\r\n\r\nThis has been fixed now.\r\n\r\n...",George T.
227470,230223,489667,2,17294,0,13832,,,,UPhCJO31,162.158.107.41,2022-09-20 09:16:16,password change doesn&#039;t work,Hello.\r\n\r\nIt seems that the &quot;password...,Answered,...,0,2022-09-20 09:36:16,0,1,19,0,NaT,,0,markdown,2022-09-20 05:16:16,650896.0,2022-09-20 09:27:56,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.
227471,230225,653121,1,590,0,614,,,,Cg5YOGHZ,172.70.250.182,2022-09-20 09:42:17,test,test with attachments.,Closed,...,0,2022-09-20 09:42:17,0,0,19,0,NaT,,0,markdown,2022-09-20 05:42:17,NaN,NaT,NaN,NaN
227472,230224,342239,1,93235,0,93337,,,,jx4IEz1P,172.70.218.114,2022-09-20 09:21:19,WHM panel not opening,WHM panel not opening,Answered,...,0,2022-09-20 09:50:40,0,1,19,0,NaT,,0,markdown,2022-09-20 05:21:19,650897.0,2022-09-20 09:29:15,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.
227473,230226,794640,3,0,0,0,Claire Ward,claire.jane.ward@gmail.com,,z0WEPNCW,None,2022-09-20 09:50:09,Re: Guys - can we collaborate?,"Hi again,\r\n\r\nHow are you?\r\n\r\nJust want...",Closed,...,0,2022-09-20 09:50:09,0,1,19,0,NaT,,0,plain,2022-09-20 05:50:09,NaN,NaT,NaN,NaN