In [12]:
import re

# third party imports 
import mysql.connector
from sqlalchemy import create_engine 
import pandas as pd

In [7]:
# Connect to my local sql server 

cnx = mysql.connector.connect(user = 'root', password='Mako1234', host='127.0.0.1', database='kosherdb')
cnx.close()

In [9]:
cnx

In [14]:
# Actually I'm gonna use sqlalchemy cause its way easier once the connection is set up
mysql_engine = create_engine('mysql://root:Mako1234@localhost:3306/kosherdb')

In [19]:
adminperms = pd.read_sql_table('tbladminperms', mysql_engine)

In [20]:
adminperms

       id  roleid  permid
0     974       1      44
1     916       1     120
2     923       1     123
3     972       1      93
4     968       1     105
..    ...     ...     ...
951  1449       1     153
952  1450       1     154
953  1451       1     155
954  1452       1     156
955  1453       1     157

[956 rows x 3 columns]