In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [39]:
# Conmnect to db, read in tables
mysql_engine = create_engine('mysql://root:Mako1234@localhost:3306/kosherdb')
tickets = pd.read_sql_table('tbltickets', mysql_engine)
ticketreplies = pd.read_sql_table('tblticketreplies', mysql_engine)
departments = pd.read_sql_table('tblticketdepartments', mysql_engine)

In [30]:
# Cleaning up the neccesary column
# Cast to string, remove whitespace?
ticketreplies['tid'] = ticketreplies['tid'].astype('str')
ticketreplies = ticketreplies.applymap(lambda x: x.strip() if isinstance(x, str) else x)

tickets['id'] = tickets['id'].astype('str')
tickets = tickets.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [6]:
# Get only the first reply for each ticket, clean up df before merge 
firstreplies = ticketreplies.groupby('tid').first()
first_replies_cleaned = firstreplies.rename(columns={'id':'replyid','date':'firstreplydate','message':'firstreplymsg','admin':'firstreplyadmin','rating':'firstreplyrating'})
first_response_df = first_replies_cleaned[['replyid','firstreplydate','firstreplymsg','firstreplyadmin']]

In [13]:
# Merge 
pd.options.display.max_columns = 35
df = tickets.merge(first_response_df, how='left', left_on='id', right_on='tid')
df.head(4)

,id,tid,did,userid,contactid,requestor_id,name,email,cc,c,ipaddress,date,title,message,status,urgency,admin,attachment,attachments_removed,lastreply,flag,clientunread,adminunread,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at,replyid,firstreplydate,firstreplymsg,firstreplyadmin
0,2,230889,1,14,0,0,,,,Mjrwm6se,None,2012-06-12 03:40:33,More than one node?,"Hi, \r\n\r\nDo you have more than one node run...",Closed,Medium,,,0,2012-06-12 07:17:36,0,0,",1,2,8,27",0,NaT,,0,plain,NaT,1.0,2012-06-12 04:00:18,"Hello,\r\n\r\nAt the moment we only have one O...",Nick Adams
1,3,924025,1,6,0,0,,,,ojBD5yOo,None,2012-06-13 01:56:44,Reverse DNS - Enable Please.,Could I get reverse DNS enabled on my VPS plea...,Closed,Medium,,,0,2012-06-13 03:15:33,0,0,",1,2",0,NaT,S8,0,plain,NaT,4.0,2012-06-13 02:35:10,"Hi Ryan,\r\n\r\nI'll have to do that on our en...",Nick Adams
2,4,976293,1,13,0,0,,,,9wVrFgYs,None,2012-06-13 03:10:03,Spam Abuse,This blacklist report has been received for 23...,Closed,High,Nick Adams,,0,2012-06-13 08:17:14,0,1,",1,2",0,NaT,,0,plain,NaT,7.0,2012-06-13 03:30:14,This issue has been resolved.. Sorry about thi...,
3,5,234515,1,16,0,0,,,,ggLR4fX0,None,2012-06-13 04:34:41,rDNS setup request,"Hello,\r\n\r\nCould you please set up a rDNS r...",Closed,Medium,,,0,2012-06-13 06:33:25,0,0,",1,2",0,NaT,S19,0,plain,NaT,12.0,2012-06-13 06:28:31,I will do this for you shortly and update you ...,Nick Adams

In [40]:
# Now we want to do some subtraction to calculate response time
df['firstresponsetime'] = (df['firstreplydate'] - df['date'])
# also we want to map department id, we reduce department size and map it with a merge
departments = departments[['id','name']]
departments = departments.rename(columns={'id':'deptid','name':'department'})
df = df.merge(departments, how='left', left_on='did',right_on='deptid')
df

,id_x,tid,did,userid,contactid,requestor_id,name_x,email,cc,c,ipaddress,date,title,message,status,urgency,admin,...,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at,replyid,firstreplydate,firstreplymsg,firstreplyadmin,firstresponsetime,id_y,name_y,deptid_x,name,deptid_y,department
0,2,230889,1,14,0,0,,,,Mjrwm6se,None,2012-06-12 03:40:33,More than one node?,"Hi, \r\n\r\nDo you have more than one node run...",Closed,Medium,,...,0,NaT,,0,plain,NaT,1.0,2012-06-12 04:00:18,"Hello,\r\n\r\nAt the moment we only have one O...",Nick Adams,0 days 00:19:45,1,Support,1,Support,1,Support
1,3,924025,1,6,0,0,,,,ojBD5yOo,None,2012-06-13 01:56:44,Reverse DNS - Enable Please.,Could I get reverse DNS enabled on my VPS plea...,Closed,Medium,,...,0,NaT,S8,0,plain,NaT,4.0,2012-06-13 02:35:10,"Hi Ryan,\r\n\r\nI'll have to do that on our en...",Nick Adams,0 days 00:38:26,1,Support,1,Support,1,Support
2,4,976293,1,13,0,0,,,,9wVrFgYs,None,2012-06-13 03:10:03,Spam Abuse,This blacklist report has been received for 23...,Closed,High,Nick Adams,...,0,NaT,,0,plain,NaT,7.0,2012-06-13 03:30:14,This issue has been resolved.. Sorry about thi...,,0 days 00:20:11,1,Support,1,Support,1,Support
3,5,234515,1,16,0,0,,,,ggLR4fX0,None,2012-06-13 04:34:41,rDNS setup request,"Hello,\r\n\r\nCould you please set up a rDNS r...",Closed,Medium,,...,0,NaT,S19,0,plain,NaT,12.0,2012-06-13 06:28:31,I will do this for you shortly and update you ...,Nick Adams,0 days 01:53:50,1,Support,1,Support,1,Support
4,6,205616,1,17,0,0,,,,8nZKDo1i,None,2012-06-13 10:42:55,cat: /dev/net/tun: No such device,"Hi Support,\r\n\r\nI installed OpenVPN and ena...",Closed,Medium,,...,0,2012-07-04 10:53:28,S20,0,plain,NaT,18.0,2012-06-13 11:32:05,"Handled over live chat.\r\n\r\nRegards,\r\n\r\...",Nick Adams,0 days 00:49:10,1,Support,1,Support,1,Support
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227469,230222,711561,1,94876,0,94698,,,,DXj5Fo18,172.70.206.104,2022-09-20 08:43:26,"Hello, my server cannot be pinged and cannot l...","Hello, my server cannot be pinged and cannot l...",Answered,High,,...,0,NaT,S207550,0,markdown,2022-09-20 04:43:26,650895.0,2022-09-20 08:58:32,"Hello,\r\n\r\nThis has been fixed now.\r\n\r\n...",George T.,0 days 00:15:06,1,Support,1,Support,1,Support
227470,230223,489667,2,17294,0,13832,,,,UPhCJO31,162.158.107.41,2022-09-20 09:16:16,password change doesn&#039;t work,Hello.\r\n\r\nIt seems that the &quot;password...,Answered,Low,,...,0,NaT,,0,markdown,2022-09-20 05:16:16,650896.0,2022-09-20 09:27:56,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.,0 days 00:11:40,2,Accounts,2,Accounts,2,Accounts
227471,230225,653121,1,590,0,614,,,,Cg5YOGHZ,172.70.250.182,2022-09-20 09:42:17,test,test with attachments.,Closed,Medium,,...,0,NaT,,0,markdown,2022-09-20 05:42:17,NaN,NaT,NaN,NaN,NaT,1,Support,1,Support,1,Support
227472,230224,342239,1,93235,0,93337,,,,jx4IEz1P,172.70.218.114,2022-09-20 09:21:19,WHM panel not opening,WHM panel not opening,Answered,High,,...,0,NaT,,0,markdown,2022-09-20 05:21:19,650897.0,2022-09-20 09:29:15,"Hello,\r\n\r\nWe&#039;re aware of this issue a...",George T.,0 days 00:07:56,1,Support,1,Support,1,Support
227473,230226,794640,3,0,0,0,Claire Ward,claire.jane.ward@gmail.com,,z0WEPNCW,None,2022-09-20 09:50:09,Re: Guys - can we collaborate?,"Hi again,\r\n\r\nHow are you?\r\n\r\nJust want...",Closed,Medium,,...,0,NaT,,0,plain,2022-09-20 05:50:09,NaN,NaT,NaN,NaN,NaT,3,Sales / General,3,Sales / General,3,Sales / General

In [42]:
# Do the aggregation
dropped_non_matches = df[df['replyid'] > 0 ]


summary_stats = dropped_non_matches.groupby('department').agg({'firstresponsetime':['mean','count']})
summary_stats

                         firstresponsetime
                                      mean   count
department
Abuse Department 0 days 10:33:24.230296996    6027
Accounts         0 days 02:20:16.586389709   34518
Legal            1 days 16:24:58.925261584     669
Sales / General  0 days 00:47:16.486269341   23524
Support          0 days 22:29:33.834971865  110363

In [48]:
import os 
hi = os.getenv('implementation')
hi

In [49]:
tickets2 = pd.read_sql_table('tbltickets', mysql_engine, parse_dates={'date':'ms'})

In [2]:
# Test date validation 
from datetime import datetime
from dateutil import parser 

date_string1 = '2023-06-05'
date_string2 = '2023-06-05'

try: 
    bool(parser.parse(date_string1))
    bool(parser.parse(date_string2))
    if datetime.strptime(date_string1, '%Y-%m-%d').date() > datetime.strptime(date_string2, '%Y-%m-%d').date():
        print('Date 1 interpreted as being after date 2, please fix this...')
        raise ValueError
except Exception as e: 
    print(e)
    print('Dates not specified in script or is  incorrect. Prompting user for date range...')
    while True: 
        try:
            date_string1 = input('Please input the start date (YYYY-MM-DD):')
            bool(parser.parse(date_string1))
            date_string2 = input('Please input the end date (YYYY-MM-DD):')
            bool(parser.parse(date_string2))
            if datetime.strptime(date_string1, '%Y-%m-%d').date() > datetime.strptime(date_string2, '%Y-%m-%d').date():
                raise ValueError
            break
        except:
            print('improper input, please ensure dates are in YYYY-mm-dd format and the start date is before the end date and try again')

Date 1 interpreted as being after date 2, please fix this...

Dates not specified in script or is  incorrect. Prompting user for date range...
improper input...